body{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
/*Navigation Bar*/
.flex{
    display: flex;
    align-items: center;
}
.naviBar{
    justify-content: space-around;
    height: 50px;
    width: 100%;
    padding: 20px;
    position: fixed;
    top: 0; 
    background-color: rgb(1, 1, 44);
    z-index: 15;
}
.naviItem{
    margin: 0 20px;
    font-size: 18px;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
.logoCon{
    width: 100px;
}
.logoImg{
    width: 100%;
}
.RamenTV{
    font-size: 35px;
    font-weight: bold;
}
.search{
    display: flex;
    align-items: center;
    border-bottom:1px solid gold;
    width: 300px;
    padding: 10px 20px;
    border-radius: 20px;
}
.searchIcon{
    color: black;
    
    border-radius: 20px;
    padding: 5px;
}
.btnSearch{
    border-radius: 20px;
    padding: 0;
    background-color: gold;
    border: none;
}
.btnSearch:hover{
    background-color: darkgoldenrod;
}
.searchInput{
    background-color:rgb(1, 1, 44) ;
    font-size: 18px;
    color:white;
    width: 90%;
    outline: none;
    border: none;
}

/* Main Container */
.mainCon{
    margin: 0;
    padding: 50px 20px;
    background-color: black;
    
}

.videoCon{
    margin-top: 30px;
    width: 100%;
    height: 350px;
    overflow: hidden;
}
#videoId{
    width: 100%;
    margin-top: -50px;
}

.img{
    width: 100%;
}
.upperCon{
    display: flex;
    justify-content: end;
}
.viewData{
    width: 400px;
    color: white;
    z-index: 10;
    position: relative;
    margin-top: -400px;
    background-image: linear-gradient(to left,rgb(0, 0, 0) ,transparent);
    padding: 85px;
}

.ep{
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    scrollbar-color: black;
}
#epsDiv{
    color:white;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid darkgray;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
#epsDiv::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#555;
    transition: 0.5s;
    z-index: -1;
}
#epsDiv:hover::before{
    width: 100%;
}

.eplink{
    text-decoration: none;
    width: 100%;
}
.genre{
    font-size: 20px;
    display: flex;
    align-items: center;
}
#genre{
    display: flex;
    align-items: center;
}
.seasonCon{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}
.seasonNo{
    color: white;
}
.season{
    height: 250px;
    overflow-y: scroll;
}
.season::-webkit-scrollbar{
    width: 10px;
}
.season::-webkit-scrollbar-track{
    background-color: rgb(51, 51, 51);
    border-radius: 10px;
}
.season::-webkit-scrollbar-thumb{
    background:white;
    border-radius: 10px;
    border: 2.5px solid  rgb(51, 51, 51);
}